<%- include("partials/header") -%>


    <div class="eachTourPlace">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                    <img class="eachTourPlace__img img-fluid" src="<%= src %> " alt="img">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                    <h1>
                        <%= name %>
                    </h1>
                    <p>
                        <%= info %>
                    </p>
                    <div class="mt-3">
                        <!-- <button class="btn btn-dark"><a class="tour__link" href="/tour"> Back to tours</a></button> -->
                        <button class="btn btn-dark" onclick="history.back()">Back to tours</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer") -%>